
{% load static %}

<nav class="navbar">
    <a href="./" class="navbar__logo">ZEEWORLD</a> 
    <div class="navbar__toggel" id="mobile menu">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </div> 
    <div class="navbar__menu ">
    <a href="/" class="navbar__link">Home</a>
    <a href="/About us.html" class="navbar__link">About us</a>
    <a href="/Products&services.html" class="navbar__link">products&services</a>
    <a href="/properties.html" class="navbar__link">properties</a>
    </div>  
      </nav>