<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zeeworld properties And Investment Ltd</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="app.js">
</head>
<body>
    <nav class="navbar">
    <a href="./" class="navbar__logo">ZEEWORLD</a> 
    <div class="navbar__toggel" id="mobile menu">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </div> 
    <div class="navbar__menu ">
    <a href="/" class="navbar__link">Home</a>
    <a href="/About us.html" class="navbar__link">About us</a>
    <a href="/Products&services.html" class="navbar__link">products&services</a>
    <a href="/properties.html" class="navbar__link">properties</a>
    </div>  
      </nav>
    </__ Hero Section !__>
    <script src="app.js"></script>
    <div class =hero>
        <div class="hero__content">
            <h1>Zeeworld properties & Investment Ltd</h1>
            <p>Join Now for free</p>
            <a href="/" class="botton">Get Started</a>
        </div>
    </div>
    <!-- services Section -->
    <div class="products&services">
        <div class="services__container">
            </div>
            <p class="Top Line">Features</p>
            <h1 class="services__heading">What We Offer</h1>
            <div class="Services__features">
            <p class="services__features">Group properties Classes</p>
            </div>
    </div>

</body>
</html>